/* Write your CSS here */

.con {
  background-color: white;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.con1 {
  background-color: #150b3e;
  border-radius: 10px;
  width: 25%;
}

.con2 {
  background-color: #c7d2fe;
  border-radius: 40px;
  height: 70px;
  width: 70px;
  padding: 10px;
  margin-top: 20px;
  padding-left: 20px;
}
.con4 {
  display: flex;
  flex-direction: row;
  padding-left: 33px;
}

.head {
  color: #7c3aed;
  margin-top: 0px;
}
.head1 {
  color: #c4c4c4;
  margin-top: 30px;
  padding-left: 20px;
}
.head2 {
  color: #7c3aed;
}
.head3 {
  color: #d4d2db;
}

.back {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 33px;
  padding-right: 30px;
}
.backs1 {
  padding-left: 33px;
}
.backs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
